* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

li {
  display: flex;
}

a {
  padding:10px 20px;
  text-decoration: none;
}

a:hover {
  background-color: #f2eee8;
}

.blue-btn {
  color: white;
  background-color: #0061ff;
}

.blue-btn:hover {
  color: white;
  background-color: #0057e5;
}

/* DEBUG */
.debug{
  background-color: rgba(255,0,0,.2);
  border: 1px solid black;
}

.debug div,
.debug nav{
  border: 1px solid black;
}
/* /DEBUG */

.container {
  max-width: 1000px;
  width: 100%; /* DEBUG */
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  border: 1px solid #d0d0d3;
}

/* HEADER */
header {
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 30px 20px;
}

.img {
  min-width: 100%;
}

.menu {
  margin: 0 20px 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* /HEADER */

/* MAIN */
main {
  
}
/* /MAIN */

/* JUMBOTRON */
.jumbotron {
  height: 740px;
  background-color: #b4d0e7;
}

.jumbotron .container {
  max-width: 1200px;
  justify-content: flex-start;
  align-items: center;  
  flex-direction: column;
}

.top-title {
  font-size: 2rem;
  margin: 100px 0px 60px;
}

.bottom-title {
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.b-left {
  width: 30%;
}

.b-right{
  width: 70%;
}
/* /JUMBOTRON */

/* PLANS */
.plans {
  height: 1700px;
}

.plans .container {
}

.title {
  margin: 160px 0 70px;
}

.billing {
  display: flex;
  justify-content: space-between;
  max-width: 375px;
}

.columns {
  margin: 50px 0 50px;
  display: flex;
  justify-content: space-between;
}

.columns .product {
  max-width: 30%;
  height: 975px;
  width: 100%;
}

.row {
  height: 265px;
}

.row .product {
  
}
/* /PLANS */

/* PARTNER */
.partner {
  height: 680px;
}

.partner .container {

}
/* /PARTNER */

/* OPERATIONS */
.operations {
  height: 1310px;
}

.operations .container {

}
/* /OPERATIONS */

/* TEAM */
.team {
  height: 435px;
}

.team .container {

}
/* /TEAM */

/* TEAM-DETAILS */
.team-details {
  height: 620px;

}

.team-details .container {
  max-width: 1850px;
}
/* /TEAM-DETAILS */

/* FREE-TRIAL */
.free-trial {
  height: 360px;
}

.free-trial .container{

}
/* /FREE-TRIAL */

/* FAQ */
.faq {
  height: 730px;
}

.faq-container {

}
/* /FAQ */

/* FOOTER */
footer {
  height: 580px;
  background-color: black;
}

footer .container {
  max-width: 1200px;
}
/* /FOOTER */